{% extends 'home/base.html' %}
{% load static %}
{% block content %}
    <input type="radio" name="slider" class="nav__radio {{input}}" checked='checked'>
    <div class="imgBx">
        <img class="home__img mobile__imgBx" src="{% static 'home/images/c01.jpg' %}" alt="">
        <div class="content content__certification grid grid--1x2">
            <div class="card">
                <div class="card__header">
                    <img src="{% static 'home/images/badge_mcsa.png' %}" class="icon__card" alt="">
                    <div>
                        <h3 class="certification__name">MCSA - SQL Server 2012/2014</h3>
                        <span>Microsoft Certified Solution Associate</span>
                    </div>
                </div>
                <div class="card__body">
                    <ul class="list list--tick">
                    <li class="list__item">SQL Development</li>
                    <li class="list__item">SQL Server Administration</li>
                    <li class="list__item">Data Warehousing and Business Intelligence</li>
                    </ul>
                    <a href="{% static 'home/documents/cert_mcsa.pdf' %}" download class="btn btn__certification">Download Certificate</a>
                </div>
            </div>
            <div class="card">
                <div class="card__header">
                    <img src="{% static 'home/images/badge_oca.svg' %}" class="icon__card" alt="">
                    <div>
                        <h3 class="certification__name">Java SE 7 Programmer</h3>
                        <span>Oracle Certified Associate</span>
                    </div>
                </div>
                <div class="card__body">
                    <ul class="list list--tick">
                    <li class="list__item">Proficiency with Java SE 7</li>
                    <li class="list__item">Understanding of Object-Oriented Concepts</li>
                    <li class="list__item">Algorithm and Data Structures</li>
                    </ul>
                    <a href="{% static 'home/documents/cert_jse7.pdf' %}" download class="btn btn__certification">Download Certificate</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}