{% extends 'home/base.html' %}
{% load static %}
{% block content %}
{% for p in profile %}
    {% if p.checked %}
        <input type="radio" name="slider" class="nav__radio {{input}}" id="{{p.checked}}">
    {% else %}
        <input type="radio" name="slider" class="nav__radio {{input}}">
    {% endif %}
    <div class="imgBx">
        {% with y=p.id|stringformat:"s" %}
        {% with "home/images/"|add:y|add:".jpg" as image_static %}
            <img class="home__img mobile__imgBx" src="{% static image_static %}" alt="">
        {% endwith %}
        {% endwith %}
        <div class="content">
            <h2 class="content__heading">{{p.title}}</h2>
            <p>{{p.content}}</p>
            <a href="{% url 'contact' %}" class="btn btn__slider_content">message</a>
        </div>
    </div>
    {% endfor %}
{% endblock content %}