{% extends 'home/base.html' %}
{% load static %}
{% block content %}
{% for p in profile %}
    {% if p.checked %}
        <input type="radio" name="slider" class="nav__radio {{input}}" id="{{p.checked}}">
    {% else %}
        <input type="radio" name="slider" class="nav__radio {{input}}">
    {% endif %}
    <div class="imgBx">
        {% with y=p.id|stringformat:"s" %}
        {% with "home/images/"|add:y|add:".jpg" as image_static %}
        {% with "home/images/"|add:y|add:".webp" as image_static_webp1x %}
        {% with "home/images/"|add:y|add:"@2x.webp" as image_static_webp2x %}
        {% with "home/images/"|add:y|add:"@2x.jpg" as image_static_2x %}
        <picture>
            <source
                type="image/webp"
                srcset="{% static image_static_webp1x %} 1x, {% static image_static_webp2x %} 2x"
            />
            <source
                type="image/jpg"
                srcset="{% static image_static %} 1x, {% static image_static_2x %} 2x"
            />
            <img class="home__img mobile__imgBx" src="{% static image_static %}" alt="">
        </picture>
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        <div class="content">
            <h2 class="content__heading">{{p.title}}</h2>
            <p>{{p.content}}</p>
            <div class="content_btn_grp">
                <a href="{% url 'contact' %}" class="btn btn__slider_content">message</a>
                <a href="{% static 'home/documents/ensui_chen.pdf' %}" download class="btn btn__slider_content">Resume</a>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock content %}